/* ==================================================================

*   Newedge Media Queries

TOC : 

1. screenwidth greater than 1200px (Large Screens)
2. screenwidth greater than 1199px (Medium Screen/Large Tablets)
3. screenwidth less than 991px (Mobile wide/Smaller Tablets)
4. screenwidth less than 768px (Mobile wide/Smaller Tablets)
5. screenwidth greater than 480px (Medium Screen Mobile)

/* ================================================================== */

/* lg */ 
@media (min-width: 1200px) {

  #portfolio .row {
    margin-left: -10px;
    margin-right: -10px;
  }

  

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  
 /* Make Navigation Toggle on Desktop Hover */


  #portfolio .row {
    margin-left: -10px;
    margin-right: -10px;
  }

}


/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  .single-news {
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
}

/* xs */
@media (max-width: 767px) {

  .single-news {
    margin-bottom: 20px;
    padding-bottom: 10px;
  }

  #footer .col-sm-6{
      text-align:center;
  }
  
   #footer .pull-right{
      float: none !important;
  }


}

/* XS Portrait */
@media (max-width: 480px) {

  .single-news {
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
}

